registry=https://bizair.pkgs.visualstudio.com/_packaging/socrates-feed/npm/registry/
always-auth=true
//bizair.pkgs.visualstudio.com/_packaging/socrates-feed/npm/registry/:username=ANYTHING-BUT-EMPTY
//bizair.pkgs.visualstudio.com/_packaging/socrates-feed/npm/registry/:_password=cHh2ZzZvYWt0aWpubndnY3YyNjc1bjUyM2t1Y2NidnVoejc3aG82anhneHdtN2h2aTViYQ==
//bizair.pkgs.visualstudio.com/_packaging/socrates-feed/npm/registry/:email=vsts-bot@microsoft.com
//bizair.pkgs.visualstudio.com/_packaging/socrates-feed/npm/registry/:always-auth=true
